@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

@import "tailwindcss";

@theme {
  --font-Mouse: "Mouse Memoirs", sans-serif;
  --color-Blue: #2463ff;
}
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}
