@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

@import "tailwindcss";

@theme {
  --font-Mouse: "Mouse Memoirs", sans-serif;
  --color-Blue: #2463ff;
}
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}
.heart:before,
.heart:after {
  content: "";

  border-radius: 50%;
  height: 48px;
  position: absolute;
  width: 48px;
  display: block;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;

  top: 0;
}
